.drop-zone-modal{
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.drop-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px dotted #2B381F;
}

.drop-zone-text{
    font-weight: 500;
}

.drop-zone-sub-text{
    font-size: .8rem;
    font-weight: 500;
}

.drop-zone-preview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#drop-zone-preview-image{
    width: 350px;
}

.dz-image-preview-section{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dz-image-preview-container{
    position: relative;
}
.dz-image-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
    height: 25px;
    width: 25px;
    color:#fff;
    background-color: #ff5c6c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.dz-image-cancel:hover{
    color:#ff5c6c;
    background-color: #fff;
    border: 1px solid #ff5c6c;
}

.dz-image-preview{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#hidden{
    display: none;
}