.drop-zone-container{
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 5px;
}

.drop-zone-content{
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    width: 85%;
}

.drop-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 2px dotted #2B381F;
}

.drop-zone-text{
    font-weight: 500;
    text-align: center;
}

.drop-zone-sub-text{
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

.dz-preview-image-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropzone-preview-image-shell{
    display: flex;
    position: relative;
}

.dropzone-preview-image{
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.dropzone-x-mark{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
    height: 25px;
    width: 25px;
    color:#fff;
    background-color: #ff5c6c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.dropzone-x-mark:hover{
    color:#ff5c6c;
    background-color: #fff;
    border: 1px solid #ff5c6c;
}