.userMenu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.userButton > button {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid #ddd;
  height: 45px;
  width: 85px;
  background-color: #fff;
  cursor: pointer;
}

.userButton > button:hover {
  box-shadow: 2px 4px 6px #c7c6c6;
}

.userIcon {
  color: #717171;
  font-size: 30px;
}

.userInfo {
  display: flex;
  font-size: 18px;
  gap: 8px;
  flex-direction: column;
}

.menuIcon {
  color: #717171;
  font-size: 15px;
}

.profile-dropdown {
  position: absolute;
  list-style-type: none;
  top: 60px;
  right: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  border-radius: 24px 24px 24px 24px;
  z-index: 2;
  cursor: pointer;
}

.modal-button.auth {
  background-color: white;
  text-align: left;
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  cursor: pointer;
}

.modal-button.auth:hover {
  background-color: #f7f7f7;
}

.link.userMenu {
  margin: 0px;
}

.login, .signup {
  width:150px;
}

.hidden {
  display: none;
}
