.logoContainer {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .logo {
    /* transform: rotate(180deg); */
    height: 50px;
    width: 65px;
    filter:opacity(70%)
  }
  
  .title {
    color: #ff5c6c;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  