.logoContainer {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .logo {
    height: 40px;
    width: 40px;
    filter:opacity(70%)
  }
  
  .title {
    color: #ff5c6c;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  /*---------- between 550px and 1024px ----------*/
/* @media (min-width: 550px) and (max-width: 1024px) {

  .logo {
    height: 40px;
    width: 40px;
  }
  
  .title {
    font-size: 18px;
  }
} */