/* SpotPage Specific CSS Styles */

.mainContainer.spots {
  width: 1000px;
  margin: 0 auto;
}

.imagesContainer {
  display: grid;
  grid-template-areas:
  "one one two three"
  "one one four five";
  gap: 5px;
  margin-bottom: 25px;
}

.previewImage > img {
  width: 100%;
  height: 500px;
}
.supportImages > img {
  width: 100%;
  height: 250px;
}

#box-1 {
  grid-area: one;
}

#box-2 {
  grid-area: two;
}

#box-3 {
  grid-area: three;
}

#box-4 {
  grid-area: four;
}

#box-5 {
  grid-area: five;
}

#spotMenu {
  display: flex;
  gap: 10px;
}

#spotDescription {
  text-align: left;
}
#reserveSection {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  height: 110px;
  width: 1000px;
  padding: 8px;
}

#priceAndRating {
  display: flex;
  justify-content: space-between;
}

#spotPrice > span {
  font-size: 20px;
}

.pinkButton.reserve {
  align-self: center;
  width: 80%;
  height: 40px;
}

.greyButton.review {
  margin-bottom: 20px;
}

.reviewsContainer > h2 {
  margin-bottom: 30px;
}

.ratingInput {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.goldStars{
  color: gold;
}