.bookings-container {
  position: relative;
  margin: 20px 0;

}

.calendar-container {
  display: flex;
  border-radius: 8px;
  margin: 10px 0;
}

.bookings-selection-container {
  border: 2px solid #c0c0c0;
  border-radius: 8px;
}

.start-end-display {
  display: flex;
  width: 100%;
}

.start-date-shell,
.end-date-shell {
  height: 100%;
  width: 50%;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.start-date-shell {
  border-right: 2px solid #c0c0c0;
}

.calendar-container {
  position: absolute;
  z-index: 1;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  top: -15px;
  right: -25px;
  -webkit-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
}

.num-guests-selector {
  position: relative;
  cursor: pointer;
  border-top: 2px solid #c0c0c0;
}

.num-guests-container {
  position: absolute;
  top: 55px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
}

.hidden {
  display: none;
}
