.bookings-container{
    display: flex;
    position: relative;
    height: 50px;
    width: 300px;
    border: 2px solid #c0c0c0;
    border-radius: 8px;
    margin: 10px 0;
}

.start-date-container,.end-date-container{
    height: 100%;
    width: 50%;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1;
}

.calendar-container{
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    top: -15px;
    right: -25px;
    -webkit-box-shadow: 0 0 10px #999999;
        box-shadow: 0 0 10px #999999;
}

.calendar-container:hover #slide.rdrMonth  {
    transition: 1s;
    right: 0; /* SET THE SLIDER TO BE 0 */
}

.start-date-container{
    position: absolute;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 2px solid #c0c0c0;
}


.end-date-container{
    position: absolute;
    right: 0;
}

.focused{
    z-index: 2;
    width: 55%;
    border-radius: 8px;
    border:2px solid #5de373;
}

.unfocused{
    border:2px solid #c0c0c0;
}

#checkin-text,#checkout-text{
    margin-left: 10px;
    font-size: .8rem;
    font-weight: 600;
}

#start-date-text,#end-date-text{
    margin-left: 10px;
    color: #8b8b8b;
    font-size: .9rem;
}

.booking-button-container{
    display: flex;
    justify-content: center;
}