/* Modal Specific CSS Styles */

#modal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.header {
  text-align: center;
}

.pinkButton.disabled {
  cursor: default;
  color: white;
  background-color: #a6a6aa;
  height: 45px;
  border: 1px solid #80808b;
  box-shadow: 5px 5px 5px #80808b;
}

input {
  height: 30px;
  width: 350px;
}
