.confirmation-container {
  width: 1120px;
  margin: 0 auto;
  margin-top: 65px;
  /* border: 2px dotted salmon; */
}

.confirmation-header-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
  margin-bottom: 40px;
}

.confirmation-header {
  font-weight: 500;
  font-size: 2rem;
}

.back-button {
  background-color: #fff;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  left: -50px;
}

.back-button:hover {
  background-color: #eeeeee;
}

.confirmation-content {
  display: flex;
}
.confirmation-left {
  width: 50%;
  /* border: 2px solid blue; */
}

.confirmation-greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #d2d2d2;
  box-sizing: border-box;
}

.section-header {
  font-weight: 500;
  margin-bottom: 20px;
}

.lily-the-frog {
  height: 80px;
  width: 80px;
}

.booking-options > * {
  margin-bottom: 12px;
}

.booking-days,
.booking-guests,
.travel-insurance-option,
.payment-option {
  display: flex;
  justify-content: space-between;
}

.edit-tags {
  display: flex;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  height: fit-content;
}

.confirmation-right {
  width: 60%;
}

input#insurance-check {
  height: 25px;
  width: 25px;
  align-self: center;
  accent-color: #000;
  border-radius: 10px;
}

.payment-options-container {
    width: 100%;
    border: 2px solid #d2d2d2;
    border-radius: 10px;
}

.payment-option {
  padding: 10px;
}

.section-divider{
  margin: 25px 0;
  border: 1px solid #d2d2d2;;
}

.message-content{
  padding: 15px;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.owners-message{
  font-size: .8rem;
}

.pink-button.confirmation{
  margin: 0 auto;
  height: 50px;
  width: 200px;
}

.confirmation-spot-card{
  position: sticky;
  top: 50px;
  height: 425px;
  width: 500px;
  margin-left: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
}

.confirmation-spot-card-top{
  display: flex;
  gap: 10px;;
}

#card-image{
  height: 125px;
  width: 150px;
  border-radius: 15px;
}

.spot-card-info{
  display: grid;
  align-content: space-between;
  margin-top: 50px;
}