/*--- Rest of CSS can be found in index.css ---*/
/* .hailMary{
  display: flex;

} */
/* .spots-container.homepage {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 90%;
  margin: 0 auto;
} */