.booking-details-section {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 94.7vh;
  overflow: hidden;
}

.booking-details-content {
  height: 100%;
  width: 25%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.booking-details-image {
  position: relative;
  height: 400px;
  width: 100%;
}

.booking-details-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.booking-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
}
.booking-back-button {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.map {
  height: 100%;
  width: 75%;
}

.booking-details-dates {
  display: flex;
  width: 100%;
  padding: 10px;
}

.booking-checkin-checkout {
  width: 35%;
}

.booking-details-menu-section{
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 5px;
  height: 70px;
}

.booking-details-menu-section.clickable:hover{
  cursor: pointer;
  background-color: #e5e5e5;
}

.booking-icon {
  width: 40px;
}
