/*--- Rest of CSS can be found in index.css ---*/

.users-spots-container {
  justify-content: start;
  margin-top: 25px;
}

.button-container {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.grey-button.create{
  margin-top: 10px;

}
.grey-button.update,
.grey-button.delete {
  width: 100px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
}