/* Global CSS Styles */

body,textarea,input {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

textarea,
input {
  font-size: 18px;
}

.pinkButton {
  cursor: pointer;
  color: white;
  background-color: #ff5c6c;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
}

.greyButton {
  cursor: pointer;
  color: white;
  background-color: #80808b;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
}

.textArea {
  resize: none;
  width: 100%;
  height: 150px;
}

*{
  margin: 0px;
}
