/* Global CSS Styles */
body,textarea,input {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

textarea,
input {
  font-size: 18px;
}

.pinkButton {
  cursor: pointer;
  color: white;
  background-color: #ff5c6c;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
}

.greyButton {
  cursor: pointer;
  color: white;
  background-color: #80808b;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
}

.textArea {
  resize: none;
  width: 100%;
  height: 150px;
}

*{
  margin: 0px;
}

/* CSS for HomePage and ManageSpots */

.cardContainer{
  display: flex;
  justify-self: center;
  cursor: pointer;
  flex-direction: column;
  position: relative;
}

.cardImage {
  height: 175px;
  width: 100%;
  border-radius: 10px;
}

.mainContainer.homePage,.mainContainer.manageSpots{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1em;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.cardPrice{
  font-size: 13px;
}


.cityState {
  text-align: left;
  flex-basis: 65%;
}

.rating {
  text-align: right;
  flex-basis: 35%;
}

.cardPrice > span {
  font-weight: 600;
}

.cardContainer:hover::before {
  position: absolute;
  top: 0;
  height: 20px;
  padding: 5px;
  content: attr(data-tooltip);
  border: 2px solid black;
  background-color: white;
}