/* Global CSS Styles */

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

.pinkButton {
  cursor: pointer;
  color: white;
  background-color: #ff5d63;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
}

.greyButton {
  cursor: pointer;
  color: white;
  background-color: #80808b;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
}