/*--- Rest of CSS can be found in index.css ---*/

.mainContainer.manageSpots {
  justify-content: start;
  margin-top: 25px;
}

.buttonsContainer {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.greyButton.update,
.greyButton.delete {
  width: 75px;
  height: 35px;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 15px;
}