
.outerMostContainer{
  width: 95%;
  margin: 0 auto;
}

.mainContainer.userSpots {
  display: grid;
  grid-gap: 2.25em;
  grid-template-columns: repeat(auto-fit, minmax(25em, 8fr));
  justify-items: center;
  margin-top: 25px;
}

.spotsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 350px;
}

#buttonsContainer {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.greyButton.update,
.greyButton.delete {
  width: 110px;
  padding: 10px;
  margin-bottom: 15px;
}

