.bookings-main-container {
  width: 1440px;
  margin: 0 auto;
  margin-top: 30px;
}

.bookings-header-container {
  display: grid;
  gap: 25px;
  align-content: space-between;
}

.bookings-header {
  font-weight: 500;
  font-size: 2rem;
}

.bookings-sub-header {
  font-size: 1.2rem;
  font-weight: 500;
}



