/* SpotPage Specific CSS Styles */

.spot-details-container {
  max-width: 1200px;
  min-width: 925px;
  box-sizing: border-box;
  margin: 0 auto;
}

.spot-details-images {
  display: grid;
  grid-template-areas:
    "one one two three"
    "one one four five";
  gap: 5px;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 10px;
}

.preview-image-container > img {
  height: 100%;
  width: 100%;
}
.support-images > img {
  height: 100%;
  width: 100%;
}

#box-1 {
  grid-area: one;
}

#box-2 {
  grid-area: two;
}

#box-3 {
  grid-area: three;
}

#box-4 {
  grid-area: four;
}

#box-5 {
  grid-area: five;
}

.spot-details-menu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.spot-details-info{
  width: 75%;
}

#spot-description-info {
  text-align: left;
}
.reserve-section {
  display: flex;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
}

#price-and-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#spotPrice > span {
  font-size: 20px;
}

.pink-button.reserve {
  align-self: center;
  width: 80%;
  height: 40px;
}

.grey-button.review {
  margin-bottom: 20px;
}

.reviews-container > h2 {
  margin-bottom: 30px;
}

.ratings-input {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.goldStars {
  color: gold;
}

.lines.spot-details{
  margin-top: 10px;
  margin-bottom: 10px;
}