.nav-bar {
  position: sticky;
  top: 0; 
  z-index: 10;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.nav-bar-content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}
