.navBar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 25px;
}







