.loginModal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#demoUser {
  cursor: pointer;
  text-align: center;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  width: 55%;
  height: 50px;
  color: #65e2a4;
  background-color: white;
}

#demoUser:hover {
  box-shadow: 5px 5px 5px #65e2a4;
}

input {
  height: 30px;
  width: 350px;
}
